<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.wavelabs.starterapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <activity
            android:name=".view.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.ResetPasswordActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.AuthActivity"
            android:windowSoftInputMode="stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.AuthActivity" />
        </activity>

        <activity
            android:name=".view.ResetPasswordSuccess"
            android:label="@string/app_name"
            android:parentActivityName=".view.ResetPasswordActivity"
            android:windowSoftInputMode="stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.AuthActivity" />
        </activity>
        <activity
            android:name=".view.DigitsCreateAccount"
            android:label="@string/app_name"
            android:parentActivityName=".view.MainActivity"
            android:windowSoftInputMode="stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="589b60d84e713c83ac57487e5ced214388580497" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="in.wavelabs.startersdk.WAVELABS_CLIENT_ID"
            android:value="@string/wavelabs_app_id" />
        <meta-data
            android:name="in.wavelabs.startersdk.WAVELABS_CLIENT_SECRET"
            android:value="@string/wavelabs_app_secret" />

        <activity
            android:name=".view.AuthActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>